<!DOCTYPE html>
<html>
    <head>
        <title>Terrible Shoe Shop</title>
    </head>
    <body>
        <img src='/images/crazywaseemshoeshop.png' alt='Air travel danger.'/>
        <p>We don't just give you shoes, we give you a bad time. Template Edition</p>
        <form method="post" action="/buy">
            <button>Have a look at our shoe!</button>
        </form>
    </body>
</html>