<!DOCTYPE html>
<html>
    <head>
        <title>Terrible Shoe Shop</title>
    </head>
    <body>
        <p>We don't just give you shoes, we give you a bad time. Template Edition</p>
        <form method="post" action="/index">
            <button>Login!</button>
        </form>
    </body>
</html>